/* Width: Below 992px */
@media (max-width: 32em) {
  .grid-3-cols {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20rem;

    margin: 5rem 0rem;
  }

  .summary {
    padding-right: 0.5rem;
    margin-bottom: 1.9rem;
  }

  .card-orange {
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
    border-bottom-left-radius: 0;
  }

  .card-darkgreen {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.55rem;
    border-bottom-left-radius: 0.55rem;
  }

  .btn:link,
  .btn:visited {
    transition: all 0.15s;
  }
}
