/* Width: Below 1088px */
@media (max-width: 68em) {
  .grid-3-cols {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40rem;

    margin: 5rem 0rem;
  }

  .card {
    padding: 5rem;
  }

  .summary {
    font-size: 1.1rem;

    padding-right: 3rem;
    margin-bottom: 4.3rem;
  }

  .card-orange {
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
    border-bottom-left-radius: 0;
  }

  .card-darkgreen {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.55rem;
    border-bottom-left-radius: 0.55rem;
  }

  .btn:link,
  .btn:visited {
    transition: all 0.15s;
  }
}

/* Width: Below 752px */
@media (max-width: 47em) {
  .grid-3-cols {
    width: 30rem;
  }

  .card {
    padding: 4.3rem;
  }

  .summary {
    padding-right: 1.5rem;
    margin-bottom: 3.3rem;
  }
}

/* Width: Below 512px */
@media (max-width: 32em) {
  .grid-3-cols {
    width: 20rem;
  }

  .card {
    padding: 3rem;
  }

  .summary {
    font-size: 0.9rem;

    padding-right: 0.5rem;
    margin-bottom: 1.9rem;
  }
}
